<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bindicator</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 2.5rem;
            padding: 2rem;
            margin: 0px;
        }

        .result {
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }

        .green { background-color: #00792b; color: #eeeeee; }
        .black { background-color: #212121; color: #eeeeee; }
        .pink { background-color: #a71558; color: #eeeeee; }
    </style>
</head>
<body class="{{ .Collection }}">
    <div class="result">
        <p>{{ .Date }}</p>
    </div>
</body>
</html>
